<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
     
        <title>Display Menu</title>

        <!-- Bootstrap libraries -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
        crossorigin="anonymous">
     
        <!-- Latest compiled and minified JavaScript -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
        
        <script 
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <title>Upload file to S3</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    
  </head>
  <body>
    <div id="app">
      <h1>S3 Uploader Test</h1>
      <input type = 'text' id = 'material_title' placeholder = 'Material title'>
      <div v-if="!image">
        <h2>Select a file</h2>
        <input type="file" @change="onFileChange">
      </div>
      <div v-else>
        <img :src="image" />
        <button v-if="!uploadURL" @click="removeImage">Remove image</button>
        <button v-if="!uploadURL" @click="uploadImage">Upload image</button>
      </div>
      <h2 v-if="uploadURL">Success! Image uploaded to bucket.</h2>
    </div>
  
    <script>
     //const MAX_IMAGE_SIZE = 100000000000000
      //data type: document (pdf, word), slides (powerpoint), video, links(not required for S3)
      /* ENTER YOUR ENDPOINT HERE */

      
      let ft =""
      //const filetype = ''
      new Vue({
        el: "#app",
        data: {
          image: '',
          uploadURL: ''
        },
        methods: {
          
          onFileChange (e) { //e is the file
            let files = e.target.files || e.dataTransfer.files
            if (!files.length) return
            this.createImage(files[0])
            ft = files[0].type
            console.log('e-->')
            console.log(files[0].name)
          },
          createImage (file) {
            // var image = new Image()
            let reader = new FileReader()
            reader.onload = (e) => {
            /*  console.log('length: ', e.target.result.includes('data:image/jpeg'))
              if (!e.target.result.includes('data:image/jpeg')) {
                return alert('Wrong file type - JPG only.')
              }
              if (e.target.result.length > MAX_IMAGE_SIZE) {
                return alert('Image is loo large.')
              }*/
              this.image = e.target.result
              console.log('printing file name...')
              console.log(this.image)
              
            }
            reader.readAsDataURL(file)
          },


          removeImage: function (e) {
            console.log('Remove clicked')
            this.image = ''
          },


          uploadImage: async function (e) {
            console.log('Upload clicked')
            // Get the presigned URL
            
            filetype = ft.toString()
            finaltype =''
            console.log(filetype)
            let params = new URLSearchParams(location.search);
            section_id = params.get('response');
            console.log(section_id);
            checkIfDoc = 'application/msword';
            checkIfPpt = 'mspowerpoint';
            checkIfPdf = 'pdf'
            //========================================================If file type is a pdf======================================
            if (ft.toString() == 'application/pdf'|| ft.includes(checkIfPdf.toString())){
                const API_ENDPOINT = 'https://h0hyxf7pi8.execute-api.us-east-1.amazonaws.com/default/callhappybucket7'
                const response = await axios({
                  method: 'GET',
                  url: API_ENDPOINT
                })
                finaltype = 'application/pdf'
                console.log('Response: ', response)
            console.log('Uploading: ', this.image)
            let binary = atob(this.image.split(',')[1])
            let array = []
            for (var i = 0; i < binary.length; i++) {
              array.push(binary.charCodeAt(i))
            }

            filetype = ft.toString()
            console.log('file type below!')
            console.log(filetype)

            let blobData = new Blob([new Uint8Array(array)], {type: 'application/pdf'})
            console.log('Uploading to: ', response.uploadURL)
            const result = await fetch(response.uploadURL, {
              method: 'PUT',
              body: blobData
            })
            console.log('Result: ', result)
            if (result.status == 200){
              material_content = result.url
              material_title =  document. getElementById("material_title").value;
               $(async() => {           
              var serviceURL = "http://127.0.0.1:5001/create_section_materials?section_id="+section_id+"&material_title="+material_title+"&material_content="+material_content;
              console.log('hehe');
              try {
                  const response =
                  await fetch(
                  serviceURL, { method: 'GET' }
                  );
                  const result = await response.json();

                if (response.status === 200) {
                    console.log('successfully added into db')
                  }
                } 
                
                catch (error) {
                // Errors when calling the service; such as network error, 
                // service offline, etc
                showError('There is a problem retrieving menu data, please try again later.<br />' + error);
                } // error
              })
            }
            
            
            // Final URL for the user doesn't need the query string params
            this.uploadURL = response.uploadURL.split('?')[0]
            }
            //===========================Check if Doc======================================================================================
            else if  (ft.toString() == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'|| ft.includes(checkIfDoc.toString())){
                const API_ENDPOINT = 'https://t7eyjq82mh.execute-api.us-east-1.amazonaws.com/default/happybucket7-worddoc'
                const response = await axios({
                  method: 'GET',
                  url: API_ENDPOINT
                })
                finaltype = 'application/word'
                console.log('Response: ', response)
            console.log('Uploading: ', this.image)
            let binary = atob(this.image.split(',')[1])
            let array = []
            for (var i = 0; i < binary.length; i++) {
              array.push(binary.charCodeAt(i))
            }

            filetype = ft.toString()
            console.log('file type below!')
            console.log(filetype)

            let blobData = new Blob([new Uint8Array(array)], {type: 'application/word'})
            console.log('Uploading to: ', response.uploadURL)
            const result = await fetch(response.uploadURL, {
              method: 'PUT',
              body: blobData
            })
            console.log('Result: ', result)
            if (result.status == 200){
              material_content = result.url
              material_title =  document. getElementById("material_title").value;
               $(async() => {           
              var serviceURL = "http://127.0.0.1:5001/create_section_materials?section_id="+section_id+"&material_title="+material_title+"&material_content="+material_content;
              console.log('hehe');
              try {
                  const response =
                  await fetch(
                  serviceURL, { method: 'GET' }
                  );
                  const result = await response.json();

                if (response.status === 200) {
                    console.log('successfully added into db')
                  }
                } 
                
                catch (error) {
                // Errors when calling the service; such as network error, 
                // service offline, etc
                showError('There is a problem retrieving menu data, please try again later.<br />' + error);
                } // error
              })
            }
            // Final URL for the user doesn't need the query string params
            this.uploadURL = response.uploadURL.split('?')[0]
            }

            //=========================Check if PPT======================================================================================
            else if  (ft.toString() == 'application/vnd.openxmlformats-officedocument.presentationml.presentation'|| ft.includes(checkIfPpt)){
                const API_ENDPOINT = 'https://vywctph0xg.execute-api.us-east-1.amazonaws.com/default/happybucket-ppt'
                const response = await axios({
                  method: 'GET',
                  url: API_ENDPOINT
                })
                
                console.log('Response: ', response)
            console.log('Uploading: ', this.image)
            let binary = atob(this.image.split(',')[1])
            let array = []
            for (var i = 0; i < binary.length; i++) {
              array.push(binary.charCodeAt(i))
            }

            filetype = ft.toString()
            console.log('Preparing to upload ppt')
            console.log(filetype)

            let blobData = new Blob([new Uint8Array(array)], {type: 'application/mspowerpoint'})
            console.log('Uploading to: ', response.uploadURL)
            const result = await fetch(response.uploadURL, {
              method: 'PUT',
              body: blobData
            })
            console.log('Result: ', result)
            if (result.status == 200){
              material_content = result.url
              material_title =  document. getElementById("material_title").value;
               $(async() => {           
              var serviceURL = "http://127.0.0.1:5001/create_section_materials?section_id="+section_id+"&material_title="+material_title+"&material_content="+material_content;
              console.log('hehe');
              try {
                  const response =
                  await fetch(
                  serviceURL, { method: 'GET' }
                  );
                  const result = await response.json();

                if (response.status === 200) {
                    console.log('successfully added into db')
                  }
                } 
                
                catch (error) {
                // Errors when calling the service; such as network error, 
                // service offline, etc
                showError('There is a problem retrieving menu data, please try again later.<br />' + error);
                } // error
              })
            }
            // Final URL for the user doesn't need the query string params
            this.uploadURL = response.uploadURL.split('?')[0]
            }

            //======================Check if MP4=====================================================================================
            else if  (ft.toString() == 'video/mp4'){
                const API_ENDPOINT = 'https://dufkmglikl.execute-api.us-east-1.amazonaws.com/default/happybucket-video'
                const response = await axios({
                  method: 'GET',
                  url: API_ENDPOINT
                })
                
                console.log('Response: ', response)
            console.log('Uploading: ', this.image)
            let binary = atob(this.image.split(',')[1])
            let array = []
            for (var i = 0; i < binary.length; i++) {
              array.push(binary.charCodeAt(i))
            }

            filetype = ft.toString()
            console.log('You are uploading a mp4:')
            console.log(filetype)

            let blobData = new Blob([new Uint8Array(array)], {type: 'video/mp4'})
            console.log('Uploading to: ', response.uploadURL)
            const result = await fetch(response.uploadURL, {
              method: 'PUT',
              body: blobData
            })
            console.log('Result: ', result)
            if (result.status == 200){
              material_content = result.url
              material_title =  document. getElementById("material_title").value;
               $(async() => {           
              var serviceURL = "http://127.0.0.1:5001/create_section_materials?section_id="+section_id+"&material_title="+material_title+"&material_content="+material_content;
              console.log('hehe');
              try {
                  const response =
                  await fetch(
                  serviceURL, { method: 'GET' }
                  );
                  const result = await response.json();

                if (response.status === 200) {
                    console.log('successfully added into db')
                  }
                } 
                
                catch (error) {
                // Errors when calling the service; such as network error, 
                // service offline, etc
                showError('There is a problem retrieving menu data, please try again later.<br />' + error);
                } // error
              })
            }
            // Final URL for the user doesn't need the query string params
            this.uploadURL = response.uploadURL.split('?')[0]
            }
          }





        }
      })
    </script>
    <style type="text/css">
      body {
        background: #20262E;
        padding: 20px;
        font-family: sans-serif;
      }
      #app {
        background: #fff;
        border-radius: 4px;
        padding: 20px;
        transition: all 0.2s;
        text-align: center;
      }
      #logo {
        width: 100px;
      }
      h2 {
        font-weight: bold;
        margin-bottom: 15px;
      }
      h1, h2 {
        font-weight: normal;
        margin-bottom: 15px;
      }
      a {
        color: #42b983;
      }
      img {
        width: 30%;
        margin: auto;
        display: block;
        margin-bottom: 10px;
      }
    </style>
  </body>
</html>
